:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-text-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --logo-color: #000000;
    --background-team-color: #F5F4FA;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--white-text-color);
}
.list {
    list-style: none;

}

.link {
    text-decoration: none;
}

/* Header */
/* Logo */
.accent {
    color: var(--accent-color);
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--logo-color);
}

/* Site-nav */
.site-nav .link,
.header-contact.link {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}

/* Contacts */
.header-contact.link {
    color: inherit;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}
/* Footer */
.footer {
    background-color: var(--footer-bg-color);
}

.logo.footer {
    color: var(--white-text-color);
}

.address {
    font-style: normal;
    color: var(--white-text-color);
}

.footer-contact {
    font-style: normal;
    color: var(--footer-contact-color);
}