
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
    background-color: var(--white-text-color);  
}

/* Hero */
.hero{
    background-color: var(--footer-bg-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--white-text-color);
}
.button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    cursor: pointer;
}
.button:hover,
.button:focus{
    color: var(--accent-color);
    background-color: var(--footer-bg-color);
}
/* Our Skills */
.section-title.skills{
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.section-title.job,
.section-title.team{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}
/* Team */
.section-team{
    background-color: var(--background-team-color);
}
.section-title.avatar{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
}
.section-title.text{
    font-size: 16px;
    line-height: 1.19;
}


