.button{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62; 
    letter-spacing: 0.03em;
    
    color: var(--title-text-color);
    background-color: var(--background-team-color);
}
.button:hover,
.button:focus{
    color: var(--white-text-color);
    background-color: var(--accent-color);
}
.title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
p{
    font-size: 16px;
    line-height: 1.88;
    
}
